.proyectos-container {
    padding: 20px;
    background-color: #fbf6f6; 
    border-radius: 8px;
    box-shadow: 0 12px 24px #f8bfc4;
    color: #000000; 
}

.proyectos-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff; 
    background-color: #7b141e; 
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}
.proyectos-container h2 {
    color: #fff; 
    background-color: #7b141e; 
    text-align: center; 
    padding: 10px 0; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

.proyectos-tabla {
    width: 100%;
    border-collapse: collapse;
    background-color: #fbf9f8; 
    border-radius: 8px;
    overflow: hidden;
}

.proyectos-tabla th {
    background-color: #8F262B; 
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }
  
  .proyectos-tabla th,
  .proyectos-tabla td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #708D81;
  }
  
  .proyectos-tabla tr:hover {
    background-color: #ff4b4b; 
  }
  
  .btn-editar,
  .btn-ver {
    background-color: #ff4b4b; 
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btn-editar:hover,
  .btn-ver:hover {
    background-color: #4f48d7; /
  }
  
  .btn-agregar {
    margin-top: 20px;
    background-color: #ff4b4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-agregar:hover {
    background-color: #4f48d7;
  }
  